.users__title{
    text-align: center;
    color: tomato;
    font-size: 50px;
    padding-bottom: 50px;
}
.users{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}
.user{
    margin: 20px;
    padding: 10px 0;
    width: 200px;
    box-shadow: 3px 3px 3px #dddddd, -3px -3px 3px #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.userAvatar{
    display: block;
    margin: 0 auto;
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.userProperty{
    display: block;
    width: 95%;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}
.userProperty:first-child{
    color: darkslateblue;
}
.followButton{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 40px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    background-color: darkslateblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.followButton:disabled{
    background-color: #666666;
}