.info{
    display: flex;
    justify-content: center;
}
.info__column{
    margin: 0 20px;
}
.info__property{
    display: flex;
}
.info__meaning:first-child{
    color: tomato;
    padding-right: 10px;
    font-size: 20px;
}
.info__meaning:last-child{
    font-size: 20px;
}