.preloader{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    background-color: tomato;
    border-radius: 50%;
    animation: preloaderAnimation .5s linear infinite;
}

@keyframes preloaderAnimation{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(20px, 0);
    }
    50%{
        transform: translate(20px, 20px);
    }
    75%{
        transform: translate(0, 20px);
    }
    100%{
        transform: translate(0, 0);
    }
}