.header{
    display: flex;
    justify-content: center;
    background-color: #666666;
    padding: 10px 0;
}
.logo{
    display: block;
    width: 60px;
}
.name{
    color: #ffffff;
    font-size: 20px;
    padding: 0 300px;
}
.login{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
.loggedUserBlock{
    display: flex;
    justify-content: center;
}
.userBlockInner{
    display: flex;
    justify-content: center;
}
.avatar{
    display: block;
    width: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-right: 10px;
}
.userLogin{
    color: #ffffff;
    font-size: 20px;
}
.logoutButton{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: darkslateblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 20px 0 0 10px;
}