.dialogs{
    padding-bottom: 100px;
}
.title{
    text-align: center;
    color: tomato;
    font-size: 50px;
    padding-bottom: 50px;
}
.dialogsHolder{
    padding-bottom: 50px;
}
.message{
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 20px auto;
    word-break: break-all;
    box-shadow: 1px 1px 1px #dddddd, -1px -1px 1px #dddddd;
}
.messageText{
    font-size: 20px;
    padding: 0 10px;
    display: block;
    width: 90%;
}
.deleteButton{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    box-shadow: 1px 1px 1px #dddddd, -1px -1px 1px #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
}
.textarea{
    width: 360px;
    height: 160px;
    border: 2px solid #666666;
    resize: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.submitButton{
    width: 100px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #666666;
    border: none;
    color: #ffffff;
    display: block;
    margin: 20px auto 0 auto;
    transition: .2s;
}